@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 10em 0 8em;
  height: 100vh;
  display: flex;
}
section {
  padding-top: 5em;
  padding-bottom: 20em;
  padding-left: 0;
  padding-right: 0;
  min-height: 100vh;
}
.nav-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgba(52,58,64, 0.9);
  overflow-x: hidden;
  transition: 0.33s;
}
.nav-overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.nav-overlay a {
  padding: .5em;
  text-decoration: none;
  font-size: 1.75em;
  display: block;
  transition: 0.3s;
}

.nav-overlay .cancelbtn {
  position: absolute;
  top: -0.3em;
  right: .3em;
  font-size: 3em;
  margin: 0;
}
#navToggle {
  top: 0.75em;
  right: 0.75em;
  position: absolute;
  font-size: 2em;
  margin: 0;
  transition: 0.33s;
}
#navOverlay {
  display: none;
}
#navOverlay a {
  color: #fff;
}
#space-fix {
	height: 5em;
}
#bottom-bio-pic {
	top: -7.5em;
	position: relative;
	border: 1px solid #343a40;
}
::-webkit-input-placeholder {
   font-size: 1.3em;
}
::-moz-placeholder {  /* Firefox 19+ */
      font-size: 1.3em;
}